streamlit>=1.26.0
Pillow==9.5.0
moviepy==1.0.3
streamlit-cropper
opencv-python-headless
numpy
openai
opencv-python
pandas
boto3
scikit-learn
scenedetect
python-dotenv
ipython
ipywidgets
ffmpeg
opencv-python
ffmpeg-python
opencv-python-headless
futures
torch
transformers
